a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/*====top-line====*/
.header .container {
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.button-mob-menu {
  line-height: 0;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.list-menu {
  display: none;
  gap: 40px;
}

.list-address {
  display: none;
}

.logo span {
  color: #2e2f42;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.item-list-menu {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-list-menu:hover,
.item-list-menu:focus {
  color: #404bbf;
}

.item-list-menu:active {
  color: #404bbf;
  background-color: #404bbf;
}
.emphasis {
  position: relative;
  color: #404bbf;
}
.emphasis::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  border-radius: 2px;
  background: #404bbf;
  width: 100%;
  height: 4px;
}
.address {
  font-style: normal;
}

.item-list-address {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-list-address:hover,
.item-list-address:focus {
  color: #404bbf;
}
/* ========================menu-hiden=============================== */
.menu-hiden {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  min-width: 320px;
  min-height: 100%;
  background-color: #fff;
  padding: 24px 24px 40px 16px;
}
.list-menu-hiden {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.close-buttom-hiden {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
}
.item-list-menu-hiden {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.address-hiden {
  position: absolute;
  bottom: 40px;
}
.address-hiden > .social-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}
.list-address-hiden > li {
  display: flex;
}
.item-list-address-hiden {
  color: #434455;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 24px;
}
.item-list-address-hiden:hover,
.item-list-address-hiden:focus {
  color: #404bbf;
}
.item-list-menu-hiden:hover,
.item-list-menu-hiden:focus {
  color: #404bbf;
}
/*====hero-image====*/
.title {
  /* position: relative; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice-mob-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* padding: 188px 0; */
  padding: 72px 0;
  margin: 0 auto;
  max-width: 320px;
  border: 1px solid #000;
}
@media screen and (min-resolution: 2dppx) {
  .title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice-mob-x2-min.jpg);
  }
}

.item-title {
  margin: auto;
  margin-bottom: 72px;
  padding: 0 50px 0 50px;
  color: #fff;
  max-width: 496px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.button-title {
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  gap: 10px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title button:hover,
.title button:focus {
  background-color: #404bbf;
}

/*====features====*/
.icon-features {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
}

.features {
  padding-top: 96px;
}

.list-features {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-bottom: 96px;
}

.item-list-features {
  width: 100%;
  text-align: center;
}
.icon-features {
  display: none;
}

.head-list-features {
  margin-bottom: 8px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.paragraph-list-features {
  font-family: Roboto;
  text-align: start;
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*====our-team====*/
.team {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.head-team {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.item-list-team {
  width: 264px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  justify-content: center;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.name-list-team {
  padding: 32px 0;
}

.head-list-team {
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.paragraph-list-team {
  margin-bottom: 8px;
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.circle-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-social:hover,
.circle-social:focus {
  background-color: #404bbf;
}

.svg-icon-team {
  fill: #f4f4fd;
}
/*====our-portfolio====*/
.portfolio {
  padding: 96px 0;
}

.row_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.name-row_top {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.head-portfolio {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.head-row_top {
  margin-bottom: 16px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.paragraph-row_top {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.img-portfolio {
  position: relative;
  overflow: hidden;
}
.item-row_top:hover .seller-text {
  transform: translateY(0%);
}
.item-row_top {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-row_top:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.seller-text {
  display: flex;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  position: absolute;
  top: 0px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/*====footer====*/
.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}

.logo_logo {
  color: #f4f4fd;
}

.logo-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  color: #4d5ae5;
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.paragraph-footer {
  display: block;
  width: 264px;
  color: #f4f4fd;
  background-color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.social-list-footer {
  display: flex;
  gap: 16px;
}

.item-social-footer {
  width: 40px;
  height: 40px;
}
.circle-social-footer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #fff;
  margin-bottom: 16px;
}
.circle-social-footer:hover,
.circle-social-footer:focus {
  background-color: rgba(49, 208, 170, 1);
}

.svg-icon-footer {
  fill: #f4f4fd;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph-form-footer {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.subscription-form-footer {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.subscription-form-footer::placeholder {
  color: #ffffff;
}
.button-form-footer {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.svg-button-form-footer {
  margin-left: 16px;
}
/*----form----*/
.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  padding: 72px 16px 16px 16px;
  width: 288px;
  min-height: 623px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-buttom:hover,
.close-buttom:focus {
  background-color: #404bbf;
  border: none;
}
.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-buttom:hover,
.close-buttom:focus .close-icon {
  fill: #ffffff;
}
.title-form {
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.item-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-bottom: 8px;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  height: 100%;
}
.label-form {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17em;
  letter-spacing: 0.04em;
}

.input-field {
  position: relative;
}
.data-input {
  padding: 11px 0 11px 38px;
  min-width: 256px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-form label {
  width: 100%;
  margin-bottom: 4px;
}
.coment-item-form {
  margin-bottom: 16px;
}

.comment-form {
  resize: none;
  min-width: 256px;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-form:focus {
  border-color: #4d5ae5;
}
.svg-title-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.data-input:focus + .svg-title-form {
  fill: #4d5ae5;
}
.item-form:last-child {
  margin-top: 8px;
  margin-bottom: 0;
}
.data-input:focus-visible {
  border-radius: 4px;
  border: 1px solid #4d5ae5;
}
.check-item-form {
  margin-bottom: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
.check-text {
  display: flex;
  align-items: center;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17em;
  letter-spacing: 0.04em;
}
.default-check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.check-form:checked + .check-text .default-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.link-policy {
  color: #4d5ae5;
  text-decoration-line: underline;
}
.submit-buttom {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* ===========HEDER=========== */
  .list-menu {
    display: flex;
    margin: 0 auto;
  }
  .list-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: -4px 0;
  }
  .button-mob-menu {
    display: none;
  }
  /* ============HERO-IMAGE========= */
  .title {
    max-width: 768px;
    text-transform: none;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice-tab-min.jpg);
  }
  @media screen and (min-resolution: 2dppx) {
    .title {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/peopleoffice-tab-x2-min.jpg);
    }
  }
  .item-title {
    padding: 0;
    margin-bottom: 56px;
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
  }

  /* ===========FEATURES=================== */
  .list-features {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .item-list-features {
    width: calc((100% - 24px) / 2);
    text-align: start;
  }

  /* ================OUR-TEAM======================= */
  .list-team {
    gap: 64px 24px;
  }
  /* =================OUR-PORT-FOLIO=============== */
  .head-row_top {
    margin-bottom: 8px;
  }
  .img-portfolio {
    max-width: 356px;
  }
  /* =======================FOOTER===================== */
  .footer {
    height: 456px;
  }
  .footer-text {
    padding: 0 94px;
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .paragraph-footer {
    margin-right: 24px;
  }
  .form-subscribe {
    flex-direction: row;
  }
  .form-footer {
    align-items: flex-start;
  }
  .logo-footer {
    display: inline-block;
  }
  .social-media {
    justify-content: flex-start;
  }
  /* =================================FORM======================== */
  .modal {
    min-width: 408px;
    min-height: 584px;
  }
  .data-input {
    min-width: 360px;
  }
  .comment-form {
    min-width: 360px;
  }
}
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  /* ===========HEDER=========== */
  .list-address {
    flex-direction: row;
    gap: 40px;
  }
  .logo {
    margin-right: 76px;
    padding: 9px 0;
  }
  .address {
    margin-left: auto;
  }
  .item-list-address {
    padding: 8px 0;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.02em;
  }
  /* ============HERO-IMAGE========= */
  .item-title {
    margin-bottom: 48px;
  }
  .title {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice-desk-min.jpg);
  }
  @media screen and (min-resolution: 2dppx) {
    .title {
      max-width: 1440px;
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/peopleoffice-desk-x2-min.jpg);
    }
  }
  /* ===========FEATURES=================== */
  .features {
    padding: 120px 0;
  }
  .list-features {
    gap: 24px;
    padding: 0;
  }
  .item-list-features {
    text-align: center;
    width: calc((100% - 72px) / 4);
  }
  .icon-features {
    display: flex;
  }
  .head-list-features {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: start;
  }
  .paragraph-list-features {
    font-weight: 400;
  }
  /* ================OUR-TEAM======================= */
  .team {
    padding: 120px 0;
  }
  /* =================OUR-PORT-FOLIO=============== */

  .img-portfolio {
    max-width: 360px;
  }
  /* =======================FOOTER===================== */
  .footer {
    padding: 100px 0;
    height: 312px;
  }
  .logo-footer {
    margin-bottom: 16px;
    margin-right: 120px;
  }
  .paragraph-footer {
    margin: 0 120px 0 0;
  }
  .footer-text {
    align-items: baseline;
  }
  .social-links {
    margin-right: auto;
  }
  .social-list-footer {
    margin: 0;
  }
}
