a 
    {text-decoration: none;}
p, h1, h2, h3, h4
    {margin: 0;
    padding: 0;}
ul
    {list-style-type: none;
    padding: 0;
    margin: 0;}

body 
    {font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: white;} 
img
    {display: block;
    max-width: 100%;
    height: auto;}
.conteiner 
    { max-width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;}
/*====top-line====*/
.header
    {border-bottom: 1px solid #E7E9FC;
    background:#FFF;}

.title-line
   {display: flex;}
.menu-header
    {display: flex;
    align-items: center;}
.list-menu
    {display: flex;
    margin-left: 78px;
    gap: 40px;
    }
.list-address
    {display: flex;
    gap: 40px;
    padding: 24px 0;}
.logo span
    {color:#2E2F42;}
.logo
    {color:#4D5AE5;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
.item-list-menu
    {color: #2E2F42;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;}
.item-list-menu:hover, .item-list-menu:focus
    {color: #404BBF;}
.item-list-menu:active
    {color: #404BBF;
    background-color:#404BBF;}
.address
    {font-style: normal;
    margin-left: auto;}
.item-list-address
    {color:#434455;
    font-size: 16px;    
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}
.item-list-address:hover, .item-list-address:focus
    {color: #404BBF;}
/*====hero-image====*/
.title
    {margin-left: -156px;
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    border: 1px solid #000;
    background: #2E2F42;}
.item-title
    {padding: 188px 472px 48px 472px;
    color: #FFF;
    width: 1440px;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;}
.button-title
    {display: flex;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    background-color: #4D5AE5;
    cursor: pointer;
    color:  #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;}
.title button:hover, .title button:focus
    {
    background-color: #404BBF;}
/*====features====*/
.head-features
    {position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}
.list-features
        {display: flex;
        gap: 24px;}
.list-features li
    {width: 256px;}
.head-list-features
    {padding: 168px 0 8px 0;
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}
.paragraph-list-features
    {color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
/*====our-team====*/
.card
     {display: flex;
    margin: 0 0 120px 0;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);}
.team{background-color: #F4F4FD;}
.list-team
    {display: flex;
    gap: 24px;}
.item-list-team
    {background-color:  #FFFFFF}
.item-list-team h3
    {padding: 32px 0 8px 0;}
.item-list-team p
        {padding-bottom: 32px;}
.head-team
    {padding: 240px 0 72px 0;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;}
.head-list-team
    {color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}
.paragraph-list-team
    {color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
/*====our-portfolio====*/
.row-list 
        {border-bottom:1px solid #E7E9FC;
        border-left: 1px solid #E7E9FC;
        border-right: 1px solid #E7E9FC;}
.row_top
        {display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 48px;}

.head-portfolio
    {padding: 120px 0 72px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;}
.head-row_top
    {padding: 32px 16px 8px;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}
.paragraph-row_top
    {padding: 0 16px 32px;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}

/*====footer====*/
.footer
    {margin-top: 120px;
    height: 312px;
    background-color: #2e2f42;}
.logo_logo
    {color:#F4F4FD;}
.logo-footer
    {display: block;
    padding: 100px 0 0 156px;
    color:#4D5AE5;
    background-color:#2E2F42;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
.paragraph-footer
    {display: block;
        width: 420px;
    padding: 17px 0 0 156px;
    color: #F4F4FD;
    background-color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}